/* ============= RESET CSS =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
/* =============== END RESET CSS =============== */
/* =============== HEADER =============== */
.header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}
.logo {
    font-size: 1.3rem;
    color: #fff;
    text-wrap: nowrap;
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 2rem;
}
li a {
    position: relative;
    color: white;
    font-weight: 300;
}
li a::before {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}
li a:hover::before {
    width: 100%;
}   
.visit-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}
.visit-btn:hover {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    transform: scale(1.03);
}
#menu-icon {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* =============== END HEADER =============== */
section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.about-container img {
    width: 40vh;
    border-radius: 50%;
    object-fit: cover;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
}
.info-box h3 {
    font-size: 1.8rem;
    font-weight: 600;
}
.info-box h1 {
    font-size: 4rem;
    font-weight: 500;
}
.info-box span {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-weight: 600;
}
.btn-group {
    display: flex;
    gap: .8rem;
}
.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    font-size: 1rem;
}
.btn:hover {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    color: #fff;
}
.socail {
    display: flex;
    gap: 1rem;
}
.socail i {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    font-size: 2rem;
}
.socail i:hover {
    transform: scale(1.2);
}
/* ============== END ABOUT ==============*/
/* =============== EXPERIENCE =============== */
.section-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.experience-info h3 {
    font-size: 1rem;
    font-weight: 600;
}
.experience-info h1 {
    font-size: 4rem;
    font-weight: 500;
}
.experience img {
    width: 24vw;
    border-radius: 3rem;
    object-fit: cover;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.grid-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    gap: 1rem;
    padding: 3rem;
    border-radius: 3rem;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.grid-card:hover {
    transform: scale(1.03);
    background-color: black;
    color: #fff;
}
.grid-card i {
    font-size: 1.5rem;
    cursor: pointer;
}
.grid-card span {
    font-size: 1.2rem;
    font-weight: 500;
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
}

/* =============== END EXPERIENCE =============== */
/* ============== PROJECT =============== */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem 2rem;
    border-radius: 3rem;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.project-card:hover {
    transform: translateY(-10px)scale(1.02);
    background-color: black;
    color: #fff;
}
.project-card img {
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}
.project-card i {
    font-size: 1.5rem;
    cursor: pointer;
}
.project-card span {
    font-size: 1.2rem;
    font-weight: 500;
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
}
/* ============== END PROJECT =============== */
/* ============== CONTACT =============== */
.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}
.input-box input {
    position: relative;
    border-radius: 3rem;
    border: 2px solid black;
    padding: 2rem 8rem;
    font-size: 2rem;
}
.input-box input::placeholder {
    font-size: 2rem;
}
.input {
    position: relative;
}
.input i {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    font-size: 3rem;
}

/* ============== END CONTACT =============== */
/* ============== FOOTER =============== */
footer {
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: #fff;
}
footer ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}
footer ul li a {
    color: #fff;
    font-size: 1.3rem;
}
footer ul a:hover {
    color: #fff;
    font-size: 1.5rem;
}
footer p {
    font-size: 1.2rem;
    font-weight: 500;
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
}
/* ============== END FOOTER =============== */


/* responsive */

/* 1280px */
@media (max-width: 1280px) {
    header {
        font-size: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
    .experience-info{
        flex-direction: column;
    }
    .input-box input {
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }
    .input input::placeholder {
        font-size: 2.5rem;
    }
    .input-box i {
        font-size: 2.5rem;
    }
}

/* 768px */
@media (max-width: 768px) {
    header{
        gap: 1rem;
        padding: 1rem 1rem;
    }
    header .logo{
        font-size: 1rem;
    }
    header .visit-btn{
        display: none;
    }
    .input-box input{
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    .input-box i{
        display: none;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .experience-info img{
        width: 70vw;
    }
}

/* 600px */
@media (max-width: 600px) {
    header #menu-icon{
        display: block;
    }
    header .nav-links{
        position: absolute;
        top: 100%;
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 3rem;
        display: none;
    }
    header .nav-links li{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active{
        display: block;
    }
    header{
        padding: 1rem 5rem;
        gap: 8rem;
    }
    header .logo{
        font-size: 1.5rem;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .about .about-container{
        flex-direction: column;
    }
    .about .about-container img{
        width: 70vw;
    }
    .input-box input{
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    .input-box i{
        display: none;
    }    
    .experience-info img{
        width: 70vw;
    }
    .experience-info{
        flex-direction: column;
    }
    .project-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .project-grid img{
        width: 70vw;
    }
    .contact .input-box input{
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
    .contact .input-box input::placeholder{
        font-size: 1.2rem;
    }
    .contact .input-box i{
        display: none;
    }
    .contact .btn{
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
    footer ul li a{
        font-size: 1.2rem;
    }
    footer p{
        font-size: 1rem;
    }
    
    
}

